body {
    background-color: #393E46;
}

h1 {
    font-family: 'Lobster';
    margin: 30px;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

.container {
    width: 100%;
    margin: auto;
    text-align: center;
}

.dadu {
    text-align: center;
    display: inline-block;
}

img {
  width: 80%;
}